@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    background-color: #F8EDE3;
    color: white;
}


.form-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.write-itens {
    margin: 3% 20% 0% 20%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #D0B8A8;
    font-size: 1rem;
    outline: none;

}

.add-item {
    margin: 0 20% 1% 20%;
    padding: 5px;
    cursor: pointer;
    background-color: #D0B8A8;
    border: none; 
    border-radius: 5px;
    font-size: 1.2rem;
}

.add-item:hover {
    background-color: #DFD3C3;
    transition: 0.2s;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin: 1% 20% 1% 20%;
    padding: 5px;
    border-radius: 5px;
    background-color: #D0B8A8;
}

.buy-list, .purchased {
    width: 100%;
}

h3 {
    background-color: #D0B8A8;
    font-size: 1.5rem;
}


.items-list, .purchased-list {
    border-bottom: 2px dotted black;
    font-size: 1rem;
}

ul {
    background-color: #D0B8A8;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #C5705D;
}

.lista-de-itens-compra{
    padding: 0;
    background-color: #D0B8A8;
}

.lista-de-itens-comprados{
    padding: 0;
    background-color: #D0B8A8;
    text-decoration: line-through;
}

.item-compra {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #D0B8A8;
    padding-top: 8px;
    margin-bottom: 5px;
}

.is-clickable{
    padding: 0;
    background-color: #D0B8A8;
    cursor: pointer;
}

.is-size-5 {
    border: none;
    padding: 0;
    background-color: #D0B8A8;
    color: #C5705D;
    font-size: 1rem;
}

.lixeira{
    background-color: #D0B8A8;
    cursor: pointer;
}

i {
    background-color: #D0B8A8;
    font-size: 12px;
    padding: 2px;
}

.lixeira button {
    border: none;
    background-color: #D0B8A8;
    cursor: pointer;
}

@media screen and (max-width: 430px) {
    h3 {
        font-size: 2rem;
    }

    .item-compra {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        background-color: #D0B8A8;
        padding-top: 8px;
        margin-bottom: 5px;
    }

    i {
        font-size: 16px;
    }

    .is-size-5 {
        max-width: 150px;
    }

    .form-items {
        margin-top: 35px;
    }

}